# ignore the virtual environment folder used to create the bot
env/

# ignore sensitive and useless files
config*
.DS_Store

#ignore files that are not ready yet and might contain sensitive info
commands.py